@use "../vars";

.day {
  &__view {
    display: grid;
    grid-template-columns: 1fr 9fr;
    height: 600px;

    &___time {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: calc(vars.$basic-size / 2);
      font-size: 12px;
      padding: 62px 0 0 0;

      &___slot {
        height: calc(600px / 18);
        display: flex;
        align-items: center;
      }
    }

    &___day {
      margin-top: 12px;
      min-width: 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(
          to bottom,
          #e0e0e0,
          #e0e0e0 1px,
          transparent 1px,
          transparent calc(800px / 24)
        );
        pointer-events: none;
        z-index: 0;
      }
    }
  }
}
