@use "../vars";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  &__content {
    background: white;
    padding: vars.$basic-size;
    border-radius: 8px;
    text-align: left;

    ul {
      list-style-type: none;
      margin: 0;
      padding: vars.$basic-size 0;

      li {
        padding: vars.$basic-size 0;
      }
    }
  }
}
