@use "../vars";

.year {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: vars.$grid-gap;

  &__month {
    padding: vars.$basic-size;
    display: grid;

    &__weekdays {
      order: 1;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      gap: 4px;
      padding-bottom: 6px;
      color: vars.$color-main-darker;
    }

    &__name {
      order: 0;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    &__grid {
      order: 2;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      gap: 4px;
      position: relative;

      &___day-cell {
        position: relative;
      }

      .today {
        color: white;

        &::before {
          z-index: -1;
          content: "";
          position: absolute;
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
          top: -2px;
          left: 50%;
          transform: translatex(-50%);
          background-color: vars.$color-highlight;
        }
      }
    }
  }
}
